.top.row
  .col-xs-12.col-sm-8
    .info
      p.name.editable(
        ng-model="project.name" 
        ng-class="{edit:edit}"
        medium-editor
        data-disable-toolbar
        options="{disableEditing: {{!edit}}, placeholder: 'Give your project a title', disableReturn: true}")
      p.description.editable(
        ng-model="project.description"
        ng-class="{edit:edit}"
        medium-editor
        data-disable-toolbar
        options="{disableEditing: {{!edit}}, placeholder: 'Give your project a description', disableReturn: true}")
  .col-xs-12.col-sm-4
    a.button.hidden-xs(
      href="{{project.source}}"
      target="_blank"
    ) 
      i.fa.fa-github-alt.withText
      span source
    a.button.visible-xs(
      href="{{project.source}}"
      target="_blank"
    )
      i.fa.fa-github-alt.withText
      span view source

.dash(ng-if="project.highlights")

.bottom(
  ng-if="project.highlights"
)
  highlight(
    ng-repeat="highlight in project.highlights"
    highlight="highlight"
  )
      
  .row
    .col-xs-12
      .extras
        .extra(
          ng-repeat="extra in project.extras"
        ) {{extra}}
        .extra.add(
          ng-if="edit"
          ng-model="extraToAdd"
          medium-editor
          data-disable-toolbar
          options="{placeholder: 'add', disableReturn: true}")
        )+