.top.row
  .col-xs-12.col-sm-8
    .info
      p.name.editable(
        ng-model="project.name" 
        ng-class="{edit:edit}"
        medium-editor
        data-disable-toolbar
        options="{disableEditing: {{!edit}}, placeholder: 'Give your project a title', disableReturn: true}")
      p.description.editable(
        ng-model="project.description"
        ng-class="{edit:edit}"
        medium-editor
        data-disable-toolbar
        options="{disableEditing: {{!edit}}, placeholder: 'Give your project a description', disableReturn: true}")
  .col-xs-12.col-sm-4
    a.button.hidden-xs(
      href="{{project.source}}"
      target="_blank"
    ) 
      i.fa.fa-github-alt.withText
      span source
    a.button.visible-xs(
      href="{{project.source}}"
      target="_blank"
    )
      i.fa.fa-github-alt.withText
      span view source

.dash(ng-if="project.highlights")

.bottom(
  ng-if="project.highlights"
)
  .row.highlight(
    ng-repeat="highlight in project.highlights"
  )
    .hidden-xs.col-sm-1
      a.button(
        ng-href="{{highlight.link}}"
        target="_blank"
      )
        i.fa(
          ng-class="{'fa-folder-open-o': highlight.type == 'folder', 'fa-file-code-o': highlight.type == 'file', 'fa-external-link': !highlight.type}"
        )
    .col-xs-12.col-sm-11
      a(
        ng-href="{{highlight.link}}"
        ng-click="preventIfEdit($event)"
        target="_blank"
      )
        .info
          p.file
            span.visible-xs-inline
              i.fa(
                ng-class="{'fa-folder-open-o': highlight.type == 'folder', 'fa-file-code-o': highlight.type == 'file', 'fa-external-link': !highlight.type}"
              )
            span {{highlight.text | highlight}}
            span.lineNumber(ng-if="highlight.line") Line {{highlight.line}}
          p.description(
            ng-model="highlight.description"
          ng-class="{edit:edit}"
          medium-editor
          data-disable-toolbar
          options="{disableEditing: {{!edit}}, placeholder: 'Why is this code interesting?', disableReturn: true}")
  .row
    .col-xs-12
      .extras
        .extra(
          ng-repeat="extra in project.extras"
        ) {{extra}}
        .extra.add(
          ng-if="edit"
          ng-model="extraToAdd"
          medium-editor
          data-disable-toolbar
          options="{placeholder: 'add', disableReturn: true}")
        )+