.top.row
  .col-xs-12.col-sm-8
    .info
      p.name {{project.name}}
      p.description {{project.description}}
  .col-xs-12.col-sm-4
    a.button.hidden-xs(
      href="{{project.source}}"
      target="_blank"
    ) 
      i.fa.fa-github-alt.withText
      span source
    a.button.visible-xs(
      href="{{project.source}}"
      target="_blank"
    )
      i.fa.fa-github-alt.withText
      span view source

.dash(ng-if="project.highlights")

.bottom(
  ng-if="project.highlights"
)
  .row.highlight(
    ng-repeat="highlight in project.highlights"
    ng-click="open(highlight.link)"
  )
    .hidden-xs.col-sm-1
      a.button(
        href="{{highlight.link}}"
        target="_blank"
      )
        //- img(src="assets/images/codeBlue.png")
        //- i.fa.fa-file-code-o
        i.fa(
          ng-class="{'fa-folder-open-o': highlight.type == 'folder', 'fa-file-code-o': highlight.type == 'file', 'fa-external-link': !highlight.type}"
        )
        //- object(type="image/svg+xml" data="assets/images/code.svg")
    .col-xs-12.col-sm-11
      .info
        p.file
          span.visible-xs-inline
            i.fa(
              ng-class="{'fa-folder-open-o': highlight.type == 'folder', 'fa-file-code-o': highlight.type == 'file', 'fa-external-link': !highlight.type}"
            )
          {{highlight.link | highlight}}
        p.description {{highlight.description}}
  .row
    .col-xs-12
      .extras
        .extra(
          ng-repeat="extra in project.extras"
        ) {{extra}}