//- .bgImage
//-   .image(ng-style="{height: height}")
//-   .mask 
//-   .filter

div(
  ng-include="'components/navbar/navbar.html'"
  ng-if="false"
)

.container

  .personWrapper(
      ng-style="{height: height/2}"
    )
    .person
      //- .photo(
        ng-style="{backgroundImage: 'url('+person.photo+')'}")
      p.name {{person.name}}
      a.email(
        ng-href="mailto:{{person.email}}"
      )
        i.fa.fa-paper-plane-o
        span{{person.email}}

  skill(
    ng-repeat="skill in skills"
    skill="skill"
    id="{{skill.name | urlsafe}}"
    minimap-element="{{skill.name}}"
    minimap-count="{{skill.projects.length}}"
  )

  .madeWith
    a(
      href="mailto:hire@alonso.io"
      id="madeWith"
    ) hire@alonso.io

minimap.hidden-xs.hidden-sm
