//- .mover(
//-   ng-style="{transform: 'translateY('+offset+'px)'}"
//- )
.section(
  ng-repeat="element in elements"
  ng-click="setFocus(element)"
  ng-class="{focus: $index == focus.index}"
  ng-mouseenter="setGhost($index)"
  ng-mouseleave="resetGhost()"
)
  .name {{element.name}}
  .dot(
    ng-repeat="dot in element.dots"
    ng-style="{'transitionDelay': $parent.$index == focus.index ? $index*25 + 175 + 'ms' : '0ms'}"
  )
.arrow(
  ng-style="{transform: 'translateY('+offsets[focus.index]+'px)'}"
)
.arrow.ghost(
  ng-class="{visible: ghost != null}"
  ng-style="{transform: 'translateY('+getGhostOffset()+'px)'}"
)