.row.highlight
  a(
    ng-href="{{highlight.link}}"
    ng-click="preventIfEdit($event)"
    target="_blank"
  )
    .hidden-xs.col-sm-1
      .button(
        ng-href="{{highlight.link}}"
        target="_blank"
      )
        i.fa(
          ng-class="highlight.icon"
        )
    .col-xs-12.col-sm-11
      .info
        p.file
          span.visible-xs-inline
            i.fa(
              ng-class="highlight.icon"
            )
          span(
            ng-if="!edit"
          ) {{highlight.text}}
          span.editable(
            ng-if="edit"
            ng-model="highlight.link"
            ng-class="{edit:edit}"
            medium-editor
            data-disable-toolbar
            options="{disableEditing: {{!edit}}, placeholder: 'Paste a link to a file or folder on github', disableReturn: true}"
          )
          span.lineNumber(ng-if="highlight.line") Line {{highlight.line}}
        p.description.editable(
          ng-model="highlight.description"
          ng-class="{edit:edit}"
          medium-editor
          data-disable-toolbar
          options="{disableEditing: {{!edit}}, placeholder: 'Why is this code interesting?', disableReturn: true}")